h1 {
    color: #FFB300;
    font-size: 89px;
    line-height: 90px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}

#acceso {
    color: black;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

#sobre {
    font-size: 21px;
}
